<ion-view title="Rozvrh">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="hodina in rozvrh" href="#/app/rozvrh/{{hodina.id}}">
                
                {{hodina.obdobiDne}}
                {{hodina.casKonani}}
                {{hodina.info}}
                {{hodina.zkratka}}
                {{hodina.nazev}}
            </ion-item>
        </ion-list>

        <ion-tabs class="tabs-icon-top">


            <!-- Pets Tab -->
            <ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
                <ion-nav-view name="tab-dash"></ion-nav-view>
            </ion-tab>


            <!-- Adopt Tab -->
            <ion-tab title="Friends" icon="icon ion-heart" href="#/tab/friends">
                <ion-nav-view name="tab-friends"></ion-nav-view>
            </ion-tab>


            <!-- About Tab -->
            <ion-tab title="Account" icon="icon ion-gear-b" href="#/tab/account">
                <ion-nav-view name="tab-account"></ion-nav-view>
            </ion-tab>
        </ion-tabs>



    </ion-content>



</ion-view>
